body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.button-items{
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}
.blue-button{
    color: blue;
}
.red-button{
    color: red;
}
.green-button{
    color: green;